body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    background-color:#ffda08;
}

.container {
    margin: 0 auto;
    margin-bottom: 100px;
    text-align: center;
    width: 1024px;
    justify-content: center;
    align-items: center;
}

.header {
    padding: 20px;
    text-align: center;
    /* height: 160px; */
    background-color:#fff;
    /* margin: 20px; */

}

button {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    cursor: pointer;
    background-color:#ffda08;
    background-image: none;
    padding: 6px 12px;
    font-size: 1.4rem;
    border: 1px solid transparent;
    text-decoration: none;
    user-select: none;
    font-size: 1.4vw;
}

button:hover {
    background-color:#2b2402;
    color: #fff;
}

button:active {
    background-color:#31ff08b9;
    
}

@media all and (max-width:30em) {
    button {
        display:block;
        margin:0.2em auto;
    }
}

.row {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    text-align: left;
}

.row div {
    width: 100%;
    background-color:#fff;
}

.info {
    padding: 30px;
}


div img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.smallImg {
    width: 150px;
    margin-top: 20px;
}

h1 {
    font-size: 4vw;
}

h2 {
    font-size: 2.2vw;
}

p, ul, ol {
    font-size: 1.7vw;
}

li {
    margin: 10px 0;
    /* background-color:rgb(247, 242, 202); */
}