<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>SushiMaker</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/4764a23c80.js"></script>
    <style type="text/css">
      body {
        margin: 0;
        font-family: 'DM Sans', Arial, sans-serif;
        font-size: 17px;
      }

      .bodyContent{
        padding:0.5%;
      }

      #myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        max-width: 100%;
        height: auto; 
      }

      .topTab {

        width:100%;
        height:5%;
      }

      .mainPanel {
        margin-left: 10%;
        margin-bottom: 10%;
        margin-top: 10%;
        position: fixed;
        height: 60%;
        bottom: 0;
        background: rgba(0, 0, 0,);
        color: #f1f1f1;
        width: 80%;
        padding: 2%;

      }
        
        

      .formCol {
        float: left;
        width:45%;
        height:80%;
        background: rgba(248, 246, 229 , 0.4 );
      }
      .imageContainer {
        text-align: center;
        flex: 70%;
        float: right;
        width:55%;
        height:80%;
        background: rgba(70, 66, 50, 0.3);
      }
      .buttonContainer {
        width:100%;
        background: rgba(50, 66, 32, 0.3)
      }
      .backButton {
        width:45%;
        float: left;
        background: rgba(1,3,4, 0.3);
      }
      .nextButton {
        width:55%;
        float: left;
        background: rgba(1,3,4, 0.3);
      }
      .nextButtonStyle {
        width:10%;
        background: rgba(1,3,4, 0.5);
        border: none;
        color: white;
        padding: 15px 32px;
        float: right;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        }

      .nextButtonStyle:Hover {
          background-color: rgba(85, 187, 5);
          color: white;
      }

      .backButtonStyle {
        width:100%;
        background: rgba(178, 42, 2, 0.3 );
        border: none;
        color: white;
        padding: 15px 32px;
        float: left;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        }

        input[id=ingredient] {
          width: 100%;
          height: auto;
          box-sizing: border-box;
          border: 2px solid #ccc;
          border-radius: 4px;
          font-size: 16px;
          background: rgba(248, 246, 229 , 0.4 );
          background-image: 'sushiicon.png';
          background-position: 10px 10px; 
          background-repeat: no-repeat;
          padding: 12px 20px 12px 40px;
        }


        input[id=ingredient2] {
          width: 100%;
          height: auto;
          box-sizing: border-box;
          border: 2px solid #ccc;
          border-radius: 4px;
          font-size: 16px;
          background: rgba(248, 246, 229 , 0.4 );
          background-image: 'sushiicon.png';
          background-position: 10px 10px; 
          background-repeat: no-repeat;
          padding: 12px 20px 12px 40px;
        }

        input[id=ingredient3] {
          width: 100%;
          height: auto;
          box-sizing: border-box;
          border: 2px solid #ccc;
          border-radius: 4px;
          font-size: 16px;
          background: rgba(248, 246, 229 , 0.4 );
          background-image: 'sushiicon.png';
          background-position: 10px 10px; 
          background-repeat: no-repeat;
          padding: 12px 20px 12px 40px;
        }

      .backButtonStyle:Hover {
          background-color: rgba(171, 37, 45);
          color: white;
      }

      [id=ingredient-label]{
        text-align: center;
        text-decoration-style: bold;
        background: rgba(1,3,4, 0.3);
      }

      img {
        width: 20%;
        height:auto;
      }
        
        form{
        margin: 0;
        padding: 0;
        width: 100%;

        }


    </style>
  </head>
  <body>
    
    <video autoplay muted loop id="myVideo">
      <source src="/images/food.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
   
    <div class = "bodyContent">
      <div class = "mainPanel">
        <div class = "topTab">
        </div>
        <div class = "formCol">
          <form method="GET" action="/search">
            <br>
              <div id="ingredient-label">What Ingredients Do You Have? </div><br>
              <input id="ingredient" name="first">
              <input type="hidden" id="ingredient-id"><br><br>
              <input id="ingredient2" name="second">
              <input type="hidden" id="ingredient-id2"><br><br>
              <input id="ingredient3" name="third">
              <input type="hidden" id="ingredient-id3"><br><br>
<!--              <input type="submit" value="Submit" />            -->
            <p id="p1"></p>
        </div>
        <div class = "imageContainer">

              <img id="ingredient-icon" src="/images/transparent.png" class="ui-state-default" alt=""><br>
              <img id="ingredient-icon2" src="/images/transparent.png" class="ui-state-default" alt=""><br>
              <img id="ingredient-icon3" src="/images/transparent.png" class="ui-state-default" alt=""><br>
        </div>
        <div class = "buttonContainer">
          <div class = "backButton">
            <input id = "resetbutton" class="backButtonStyle" type="reset"> 
          </div>
            <button class="nextButtonStyle" type="submit"><a href="/options" >Next</a></button>
<!--            <a href = "/options" button class="nextButtonStyle">Next</a>-->
          </div>
          </form>
        </div>
      </div>
    </div>
  <script type="text/javascript" src="/javascripts/search.js"></script>
  </body>
</html>