<!doctype html>

<html>
  <head>
    <title>Recipe to Speech</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!--    <link rel="stylesheet" href="/style.css">-->
    <link href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/4764a23c80.js"></script>
  </head>

  <body >
<!--
    <div class="navbar">
      <a class="logo" href="index.html">🍣 SushiMaker</a>
      <a class="item" href="user.html"><i class="fa fa-fw fa-user"></i> Login</a></a>
    </div>
-->
    
    <div class="page" id="page">
      <div class="header">
        <img class="smallImg" src="/images/Salmon-Avocado-Sushi-Roll.jpg" alt="Sushi image">
        <h1 id="recipeName" style="margin-top: 5px;"></h1>
          
        <form method="post">
            <div class="hidden">
                <input id ="likedRecipe" name="likedRecipe" value= "" />
            </div>
            <div>
                <button class="heartButton" id="heartButton" type="submit"><i class="fa fa-heart"></i> Complete</button>
            </div>
        </form>
          
          <button class="heartButton" id="signInPlease"><a href="/index"></a>Sign in to save recipes!</button>
          
        <p id="liked">{{user.profile.likedRecipe}}</p>
        <p id="loggedIn">{{user.profile.firstName}}</p>

        
            
      </div>

      <div class="container">
        <div class=row>
          <div class="image">
            <img id="recipeImg" src="" alt="">
          </div>
          <div class="info">
            <h2>Ingredients</h2>
            <button id="ingredientsToSpeech" type="button" data-words="Ingredients"><i class="fa fa-play"></i> Speak Aloud Ingredients</button>
            <div id="ingredientsData"></div>
            <hr>
            <h2>Steps</h2>
            <button id="stepsToSpeech" type="button" data-words="Steps"><i class="fa fa-play"></i> Speak Aloud Steps</button>
            <div id="stepsData"> </div>
          </div>
        </div>
      </div>
    </div>
    
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <script src="/javascripts/speech.js"></script>  
    
      
    


  </body>
</html>
