<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
	<link href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/4764a23c80.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      
    <script>
    function get(){			
		var ajaxRequest = new XMLHttpRequest();
		var first = document.getElementById('first');
		var second = document.getElementById('second');
		var third = document.getElementById('third');
		ajaxRequest.onreadystatechange = function(){
			if(ajaxRequest.readyState == 1){
				console.log("Established server connection." + ajaxRequest.readyState + "status=" + ajaxRequest.status);
			}
			else if(ajaxRequest.readyState == 2){
				console.log("Request received by server." + ajaxRequest.readyState + "status=" + ajaxRequest.status);
			}
			else if(ajaxRequest.readyState == 3){
				console.log("Processing request." + ajaxRequest.readyState + "status=" + ajaxRequest.status);
			}
			else if(ajaxRequest.readyState == 4){
				console.log("Done loading!" + ajaxRequest.readyState + "status=" + ajaxRequest.status);
				if(ajaxRequest.status == 200){
					console.log("It worked!");
					var result = ajaxRequest.responseText;
					var info = JSON.parse(result);
				}
				else{
					console.log("Status error: " + ajaxRequest.status);
				}
			$('#display').append("<br>");			
			}
			console.log("Ready state changed!");
		}
		ajaxRequest.open("GET", "https://midtermprojectcomp20.herokuapp.com/search?" + 
			"first=" + first + "&second=" + second + "&third=" + third, true);
        
//        ajaxRequest.open("GET", "localhost:3000/search?" + 
//			"first=" + first + "&second=" + second + "&third=" + third, true);
		ajaxRequest.withCredentials = false;
		ajaxRequest.send();
	};

	$('#display').ready(get());  
      
    </script>
    <style type="text/css">

      body {
        margin: 0;
        font-family: 'DM Sans', Arial, sans-serif;
        font-size: 17px;
/*        overflow: hidden;   */
      }

      .bodyContent{
        padding:0.5%;
      }

      #myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        max-width: 100%;
        height: auto; 
      }

      .row1{
		height: auto;
		margin-top: 20px;
/*		padding-top: 40px;*/
/*		padding: 20px;*/
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		position: relative;
		display: flex;
		justify-content: space-between;

	}
        
        .recipePic{
            height: 80%;
        }

	.card {
		height: auto;
		margin-top: 20px;
		margin-bottom: 10px;
		float: left;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		transition: 0.3s;
		background: rgba(248, 246, 229 , 0.4 );
    	flex: 0 1 calc(25% - 1em);
        background-color: #000;
        color:#fff;
        text-align:center;
        
	}
        
        .card p{
            font-size:20px;
        font-style: bold;
        }

	.card:hover {
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
	}

	.container {
		padding: 2px 16px;
	}

	.front{
		height: auto;
	}
	@media screen and (min-width: 20em) {
		.row1 {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.card {
			flex: 0 1 calc(100% - 3em);
		}
	}

	@media screen and (min-width: 40em) {
		.row1 {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.card {
			flex: 0 1 calc(50% - 1em);
		}
	}

	@media screen and (min-width: 60em) {

		.card {
			flex: 0 1 calc(30% - 1em);
		}
	}

	</style>
	</head>
	<body>

<!--
	<video autoplay muted loop id="myVideo">
      <source src="/images/food.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
-->
        
        <div id="display"></div>
        
<!--    <p>{{finalResult}}</p>-->

    <script>
document.addEventListener("DOMContentLoaded", () => {
    fetch('./stylesheets/recipeResponse.json') 
//    fetch('recipe.json') 
    .then(d=>d.json())
    .then(data=>{
        console.log(data);

        // Render display 
        display(data);
    }).catch(e => {
        console.log(e);
    })
})

    
        

	function display(data) {
	    console.log(data);
	    //document.getElementById("page").style.visibility = 'visible';

	    // Store data - Name 
//	    ingredients += "<ul>";
        
        var divs = "";
        
//        var div document.createElement("div")

	for( var i = 0; i < data.length;++i) {

	  divs += "<div class='card'>"   
				+ "<img class = 'recipePic' id='recipeImg" + i + "'" + "src='/images/transparent.png' style='width:100%'' alt=''>"
				+ "<p id='recipeName" + i +"'" +"</p>" 
				+ '</div>';
	}
        
	$(".row1").append(divs);
	    
    for (var i = 0; i < data.length; i++){ 
	 

	    // Show data - Name and Image 
	    document.getElementById("recipeName" + i).innerHTML = data[i].recipe;
	    loadedRecipe = data[i].recipe;
	    document.getElementById("recipeImg" + i).src = ("/images/" + data[i].picture);

	}
        
        

}
	
	</script>

    <div class = "bodyContent">
    <div class="row1">
	</div>
	</body>
       
</html> 