body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #000000;
}

h1{
    color: #000000;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: white;
  font-size: 17px;
}

header > a {
  color: #ffda08;
}

header,
main {
  padding: 50px;
}

dt {
  padding: 4px 0;
  font-weight: bold;
}